@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Nunito+Sans:wght@200;300;400;600;700;800&family=Poppins:wght@100;200;300;400&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 0;
    height: 243rem;
    min-width: 84.34rem;
    /* font-weight: lighter; */
    font-family:  'Poppins', sans-serif;
}
#logo{
    color: #A997DF;
    padding: 1rem 0 0 0;
    font-size: 22px;
    
}

a{
    text-decoration: none;
    color: #A997DF;
}

header{
    margin: 0 5rem;
    display: grid;
    grid-template-columns: 0.6fr 3fr 0.7fr;
}
header button, .section-one button{
    background-color: #A997DF;
    color: #fff;
    border: #A997DF 2px solid;
    height: 2.6rem;
    font-size: 20px;
    margin: 0.7rem 0;
    font-weight: 100;
    box-sizing: border-box;
    width: 12rem;
    font-family: 'Nunito Sans', sans-serif;

    /* font-weight: lighter; */
}


.nav{
    display: flex;
    margin: 0 2rem;
}

.nav p{
    padding: 1.2rem 0 0 0;
    flex: 1;
    cursor: pointer;
    width: fit-content;
    text-align: center;
}

.nav p:nth-child(1){
    padding: 0.7rem 0;
    border-top: 8px solid #A997DF;
    
}
span{
    color: #A997DF;
}

.section-one{
    /* margin: 4rem 0rem; */
    display: grid;
    padding: 3rem 0 3rem 5rem;
    grid-template-columns: 1fr 1fr;
    font-size: 25px;
    background-color: #F3F3F3;
}
.section-one p:nth-child(2){
    font-size: 23px;
    line-height: 38px;
}
.section-one img{
    margin-left: 110px;
}
.oneP{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Gentium Book Basic', serif;
    font-size: 60px;
    padding-bottom: 2rem;
}
.section-one button{
    height: 3.8rem;
}

.ypa{
   display: flex;
   /* flex: 1; */
   /* grid-template-columns: 1fr 1fr 1fr; */
}

.pa{
    flex: 1; 
}
.pa :nth-child(1){
    /* text-align: center; */
    /* margin-left: 2rem; */
    font-size: 35px;
    font-weight: 600;
}

.section-two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5rem 13rem 5rem 5rem;
}
.section-two img{
    box-shadow: 0px -0.887789px 3.55116px rgba(0, 0, 0, 0.1);
}

.two{
    margin: 3rem 0 0 4rem;
}
.two p:nth-child(1){
    font-size: 21px;
    color: #A997DF;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
}
.two p:nth-child(2){
    border-left: #153243 5px solid;
    color: #153243;
    font-size: 28px;
    padding-left: 1rem;
    margin-top: 0.7rem;
    font-weight: 600;
    font-family: 'Gentium Book Basic', serif;

}

.two p:nth-child(3){
    margin-top: 3rem;
    font-size: 16px;
    line-height: 34px;
}
.two button{
    border: #A997DF 2px solid;
    height: 3rem;
    width: 12rem;
    font-weight: 100;
    font-size: 15px;
    color: #A997DF;
    background: none;
    margin: 3rem 0 0 0;

}
.header{
    color: #A997DF;
    margin-bottom: 0.5rem;
    font-size: 20px;
}


.section-three{
    background-color: #E5EAFF;
    padding: 3rem 5rem;
}

.section-three h3{
    color: #153243;
    margin-bottom: 0.5rem;
    text-align: center;
}
#services{
    border-left: #153243 5px solid;
    color: #153243;
    box-sizing: content-box;
    font-size: 28px;
    padding-left: 1rem;
    /* margin-top: 0.7rem; */
    font-weight: 600;
    font-family: 'Gentium Book Basic', serif;
}
.fa-check{
    color: #A997DF;
    margin-left: 10px;
    font-size: 30px;
}
.i{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-bottom: 1.5rem;
}
.i p{
    /* margin-top: -5px; */
    text-align:left;
}
.three{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    margin: 5rem;
}
.unthree, .dothree, .troisthree{
    background-color: white;
    border-top: #A997DF 8px solid;
    height: 18.5rem;
    padding: 0 0.3rem;
    box-shadow: 0 2px 10px -2px rgba(128, 128, 128, 0.76);
    font-size: 20px rgb(243, 243, 243);
}

.dothree{
    height: 22rem;
}
.icon{
    text-align: center;
    font-size: 45px;
    color: #A997DF;
    margin: 1rem 0;
}

.section-four{
    margin: 0 5rem;
    padding: 2rem 0;
}

.check{
    border-left: #153243 5px solid;
    color: #153243;
    font-size: 28px;
    padding-left: 1rem;
    margin-top: 0.7rem;
    font-weight: 600;
    font-family: 'Gentium Book Basic', serif;

}
.newBanana{
    color: #153243;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-family:'Nunito Sans', sans-serif;
}

.banana{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem 0;
    grid-gap: 3rem;
}
.banana p:nth-child(3){
font-size: 13px;
}
#see{
    color: #A997DF;
    cursor: pointer;
    position: absolute;
    top: 139.5rem;
    left: 70rem;
}

.heade{
    font-family:'Nunito Sans', sans-serif;
}

.arrows{
    margin-left: 66rem;
    font-size: 3rem;
    color: #A997DF ;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fa-circle-chevron-left , .fa-circle-chevron-right , button{
    cursor: pointer;

}
.arrow{
    position: absolute;
    top: 225rem;
    left: 71rem;
    font-size: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #A997DF;
}
.arrows :nth-child(1){
    color: #524970;
    margin-right: 1.5rem;
}
.arrow :nth-child(1){
    margin-right: 1.5rem;
    color: #524970;
}


.section-five{
    background-color: #F3F3F3;
    display: grid;
    padding: 2rem 0 0 0;
    grid-template-columns: 1fr 1fr;
}

.five{
    margin: 5rem 10rem 0 -5rem;
}
.excellence{
    padding: 1.5rem;
    background-color: white;
    margin-top: 6rem;
}
.excellence p:nth-child(1){
    color: #153243;
    font-size: 16px;
    font-family:'Nunito Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

.excellence p:nth-child(2){
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
}

#svgOne{
    position: absolute;
    top: 198.3rem;
    left: 34.5rem;
}

#svgTwo{
    position: absolute;
    top: 210.25rem;
    left: 72.7rem;
}

.section-six{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem 5rem 0 5rem;
    line-height: 2rem;
    margin-left: 2.3rem;
}
.section-six p:nth-child(1){
    font-weight: 700;
    font-size: 1.2rem;
    font-family: 'Nunito Sans', sans-serif;

}
.sixOne{
    margin-top: -1.2rem;
}

.sixOne p{
    border-left: #153243 4px solid;
    padding-left: 1rem;
}
.icons{
    font-size: 25px;
}
.icons i{
    
    margin-right: 1rem;
}

.contactUs{
    display: grid;
    grid-template-columns: 1fr 10fr;
}
.contactUs i{
    margin-top: 5px;
}

.sixTwo{
    margin-left: 3rem;
}
